<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foodie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        #searchResultDiv {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container mt-4 text-center">
        <h2>Search for your favorite dish</h2>
        <div class="mt-4">
            <form action="" method="post" id="form">
                {% csrf_token %}
                <input type="search" role="search" class="form-control form-control-lg" id="search" name="search"
                    placeholder="Search for Dosa">
            </form>

        </div>

        <div class="mt-4 " id="searchResultDiv">
            <h3 id="searchQuery" class="mt-4 mb-4"> </h3>

            <div class="mt-4">
                <div class="row row-cols-1 row-cols-md-3 g-4" id="searchResult">

                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script>
        let searchInput = document.getElementById('search');
        let form = document.getElementById('form');
        function makeReqeust(e) {

            let search = e.target.value;
            if (search.length > 2) {


                fetch('',
                    {
                        method: 'POST',
                        body: new FormData(form)

                    }).then(response => response.json()).then(data => {
                        data = JSON.parse(data);
                        if (data['status'] != 404) {
                            let searchResultDiv = document.getElementById('searchResultDiv');
                            let searchResult = document.getElementById('searchResult');
                            let searchQuery = document.querySelector('#searchQuery');
                            let restorant, dish;
                            searchQuery.innerText = `Search Result For "${searchInput.value}"`;
                            searchResultDiv.style.display = 'block';
                            let str = ``;
                            for (restorant of data['data']) {
                                for (dish of restorant['dishes']) {
                                    str += `
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h5 class="card-title">${dish['name']}</h5>
                                            <div class="text-muted">${restorant['restorant_name']}</div>
                                            <div class="mt-2 h6">Rs. ${dish['price']}</div>
                                        </div>
                                    </div>
                                </div>
                                `;
                                }
                            }
                            searchResult.innerHTML = str;
                        }
                    })
            }
        }

        searchInput.addEventListener('input', makeReqeust);

    </script>
</body>

</html>